$assign: "assign";
$in: "in";
$out: "out";
$functionCall: "functionCall";
$validator: "validator";
$if: "if";
$switch: "switch";
$decisionTable: "decisionTable";
$dictionary: "dictionary";
$scorecard: "scorecard";
$pmml: "pmml";
$iterator: "iterator";
$subFlow: "subFlow";
$dbConnector: "dbConnector";
$restConnector: "restConnector";
$soapConnector: "soapConnector";
$beginDatabaseTransaction: "beginDatabaseTransaction";
$commitDatabaseTransaction: "commitDatabaseTransaction";
$rollbackDatabaseTransaction: "rollbackDatabaseTransaction";
$blockchainEvm: "blockchainEvm";
$blockchainEvmContract: "blockchainEvmContract";
$exceptionHandler: "exceptionHandler";
$raiseException: "raiseException";
$s3Connector: "s3Connector";
